/* Header */

.App-header > h1 {
  font-size: 60px;
  padding-top: 0.5vh;
}

.App-header {
  text-align: center;
  background-image:linear-gradient(to right, #553c9a 45%, #ee4b2b);
  padding-bottom: 2vh;
  margin-bottom: 5vh;
}

/* General */

a {
  all:unset;
}
a:hover {
  color: unset;
  cursor: pointer;
}

.App{
  background-color: rgb(229, 221, 249);
  min-height: 100vh;
}

.App-choices {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.Button{
  padding-bottom: 1vh;
  margin-bottom: 1vh;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}


/* Comments */
.comment-section {
  margin-top: 5vh;
}

.comment-input Button {
  margin-top: 2vh;
}

.comment {
  margin-top: 3vh;
}

.table_comment {
  background-color: rgb(214, 253, 247);
  max-width: 300px;
}

td {
  word-break: break-word;
}

.thead_comment{
  background-color: rgb(166, 230, 215);
  text-align: center;
}

.content Button {
  min-width: 300px;
}

.content Button a{
  text-decoration: none;
  color: white;
}

.Home-vote {
  margin-top: 10vh;
}

/* Spinner */
.spinner {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }}