.App-header {
  text-align: center;
  background-color: rgb(62, 62, 219);
  padding-bottom: 2vh;
  margin-bottom: 5vh;
}

header > h1 {
  font-size: 60px;
  padding-top: 0.5vh;
}

.App-choices {
  display: flex;
  justify-content: center;
}

.submitButton {
  display: flex;
  justify-content: center;
}